.copyright{
    float: right;
}
.copyright p{
    font-weight: 100;
    font-size: 14px;
    padding-right: 10px;
    color: #555555;
}

mat-divider{
    float: left;
    width: 100%;
    clear: both;
}